<nav class="navbar navbar-default" role="navigation">
    <ul class="nav nav-pills">
      <li role="presentation"><a href="/">CS3051</a>
      <li role="presentation"><a href="/">Home</a></li>
      <li role="presentation"><a href="/about">About</a></li>
      <li role="presentation"><a href="/users">Users</a></li>
      <li role="presentation"><a href="/classes">Classes</a></li>
    </ul>
</nav>