<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body class="container">
  <header>
    <% include partials/header %>
  </header>
  <main>
    <div class="jumbotron">
    <p>About Page</p>
   </main>
  <footer>
    <% include partials/footer %>
  </footer>
  </body>
</html>