<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body class="container">
  <header>
    <% include partials/header %>
  </header>
  <main>
    <div class="jumbotron">
    <p>List of Classes</p>
  <ul>
    <% for (var i = 0; i < data.length; i++) { %> <li>
      <%= data[i].name %>
    </li>
    <% } %>
  </ul>
  </main>
  <footer>
    <% include partials/footer %>
  </footer>
  </body>
</html>

